.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 100px;
  color: white;
  position: relative;
}

.App-header__text {
  margin: 0;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App-intro {
  font-size: large;
}


